//Header
$header-height: 90px;

//Color
$color-white: #fff;
$color-gray: #99979c;

$color-black: #080508;

$color-purple-dark: #533d56;

//Bg-color
$bg-color-purple-dark: #533d56;

//Responsive
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);
